{% extends "base.html" %}

{% block script %}
<script>
var BART_DIRECTION_LOOKUP = {
    '24th St. Mission': 'South',
    'Bayfair': 'North',
    'Concord': 'North',
    'Daly City': 'South',
    'Dublin/Pleasanton': 'North',
    'Embarcadero': 'North',
    'Montgomery': 'North',
    'Fremont': 'North',
    'South San Francisco': 'South',
    'Millbrae': 'South',
    'Union City': 'South',
    'North Concord': 'North',
    'Pittsburg Bay Point': 'North',
    'Richmond': 'North',
    'SF Airport then Millbrae': 'South',
    'SF Airport then Pittsburg Bay Point': 'South',
    'SF Airport': 'South'
};

var MUNI_DIRECTION_LOOKUP = {
    '14~Inbound': 'North',
    '14L~Inbound': 'North',
    '14~Outbound': 'South',
    '14L~Outbound': 'South',
    '22~Inbound': 'West',
    '22~Outbound': 'East',
    '33~Inbound': 'East',
    '33~Outbound': 'West',
    '49~Inbound': 'North',
    '49~Outbound': 'South'
}

function updateFeeds() {
    var BART_stops = [10, 99]; // 16th St Mission, platforms 1,2
    var MUNI_stops = [ 15551, // Mission St, Northbound
                       15552, // Mission St, Southbound
                       13291, // 16th St, Westbound
                       13293, // 16th St, Eastbound (west of intersection)
                       13292, // 16th St, Eastbound (east of intersection)
                    ];

    //clear existing routes
    $(".routes").empty();

    getDeparturesForStops(BART_stops, "BART");
    getDeparturesForStops(MUNI_stops, "SF-MUNI");
}

$(document).ready(function() {
    updateFeeds();
    window.setInterval(updateFeeds,30*1000);
});
</script>
<style>
    /* yellow */
    ul.routes.BART li.PittsburgBayPoint .stopName { background-color: #F9E233; }
    ul.routes.BART li.SFAirport .stopName { background-color: #F9E233; }

    /* red */
    ul.routes.BART li.Richmond .stopName { background-color: #EB212E; }
    ul.routes.BART li.Millbrae .stopName { background-color: #EB212E; }

    /* blue */
    ul.routes.BART li.DublinPleasanton .stopName { background-color: #1DB0ED; }

    /* green */
    ul.routes.BART li.Fremont .stopName { background-color: #52B74F; }

    /* rainbow! */
    ul.routes.BART li.DalyCity .stopName {
        background: repeating-linear-gradient( to right,
          #EB212E, #EB212E 60px,
          #F9E233 60px, #F9E233 120px,
          #1DB0ED 120px, #1DB0ED 180px,
          #52B74F 180px, #52B74F
        );
    }
</style>
{% endblock %}

{% block header %}
        <div class="left">
            <img src="../static/img/BART.png">
			<h1>BART</h1>
			<h2>16th Street Mission<h2>
		</div>

		<div class="right">
			<img src="../static/img/bus.png">
			<h1>MUNI</h1>
			<h2>Bus Stops<h2>
		</div>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="left">
            <h3>Downtown SF / East Bay</h3>
            <ul class="routes BART North"></ul>
            <h3>Southbound</h3>
            <ul class="routes BART South"></ul>
        </div>

        <div class="right">
            <h3>Mission St Northbound</h3>
            <ul class="routes SF-MUNI North"></ul>

            <h3>Mission St Southbound</h3>
            <ul class="routes SF-MUNI South"></ul>

            <h3>16th St Eastbound</h3>
            <ul class="routes SF-MUNI East"></ul>

            <h3>16th St Westbound</h3>
            <ul class="routes SF-MUNI West"></ul>
        </div>
{% endblock %}

{% block extra_attr %}
| <a href="http://github.com/jlev/arrival-time">Code available</a> under GPLv3</div>
{% endblock %}