<html>

<head>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" media="screen" />
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
var BART_DIRECTION_LOOKUP = {
    '24th St. Mission': 'South',
    'Bayfair': 'North',
    'Concord': 'North',
    'Daly City': 'South',
    'Dublin/Pleasanton': 'South',
    'Embarcadero': 'North',
    'Montgomery': 'North',
    'Fremont': 'South',
    'South San Francisco': 'South',
    'Millbrae': 'South',
    'Union City': 'South',
    'North Concord': 'North',
    'Pittsburg Bay Point': 'North',
    'Richmond': 'North',
    'SF Airport then Millbrae': 'South',
    'SF Airport then Pittsburg Bay Point': 'South',
    'SF Airport': 'South'
};

function updateFeeds() {
    var BART_stops = [10, 99]; // 16th St Mission, platforms 1,2
    var MUNI_stops = [ 15551, // Mission St and 16th St, Inbound
                       15552, // Mission St and 16th St, Outbound
                       13291, // 16th St and Mission St, Inbound
                       13293, // 16th St and Mission St, Outbound
                    ];

    //clear existing routes
    $(".routes").empty();

    getDeparturesForStops(BART_stops, "BART");
    getDeparturesForStops(MUNI_stops, "SF-MUNI");
}

$(document).ready(function() {
    updateFeeds();
    window.setInterval(updateFeeds,30*1000);
});
</script>
<style>
    ul.routes.BART li.PittsburgBayPoint .stopName { background-color: #F9E233; }
    ul.routes.BART li.SFAirport .stopName { background-color: #F9E233; }

    ul.routes.BART li.Richmond .stopName { background-color: #EB212E; }
    ul.routes.BART li.Millbrae .stopName { background-color: #EB212E; }

    ul.routes.BART li.DublinPleasanton .stopName { background-color: #1DB0ED; }
    ul.routes.BART li.Fremont .stopName { background-color: #52B74F; }
</style>

</head>

<body>

	<header id="top">
        <div class="left">
            <img src="../static/img/BART.png">
			<h1>BART</h1>
			<h2>16th Street Mission<h2>
		</div>

		<div class="right">
			<img src="../static/img/bus.png">
			<h1>MUNI</h1>
			<h2>Bus Stops<h2>
		</div>
	</header>

    <div class="content">
        <div class="left">
            <h3>Northbound</h3>
            <ul class="routes BART North"></ul>
            <h3>Southbound</h3>
            <ul class="routes BART South"></ul>
        </div>

        <div class="right">
            <h3>Inbound</h3>
            <ul class="routes SF-MUNI Inbound"></ul>

            <h3>Outbound</h3>
            <ul class="routes SF-MUNI Outbound"></ul>
        </div>

        <div id="lastUpdated">Last Updated: <span></span></div>

 		<div id="dataProviders">Transit data supplied through agreement with San Francisco Bay Area’s 511 and participating transit providers. <img src="../static/img/511-logo.png"> | <a href="http://github.com/jlev/arrival-time">Code available</a> under GPLv3</div> 
    </div>

</body>
</html>
