{% extends "base.html" %}

{% block script %}
<script>
var BART_DIRECTION_LOOKUP = {
    '24th St. Mission': 'South',
    'Bayfair': 'North',
    'Concord': 'North',
    'Daly City': 'South',
    'Dublin/Pleasanton': 'South',
    'Embarcadero': 'South',
    'Montgomery': 'South',
    'Fremont': 'South',
    'South San Francisco': 'South',
    'Millbrae': 'South',
    'Union City': 'South',
    'North Concord': 'North',
    'Pittsburg Bay Point': 'North',
    'Richmond': 'North',
    'SF Airport then Millbrae': 'South',
    'SF Airport then Pittsburg Bay Point': 'South',
    'SF Airport': 'South'
};

function updateFeeds() {
    var BART_stops = [65, 66]; //19th St. Oakland, platforms 1,2,3
    var ACTransit_stops = [53335, //Broadway and 17th St 19th St BART Station ~ North
                       50958 //Broadway and 17th St 19th St BART Station ~ South
                    ];

    //clear existing routes
    $(".routes").empty();

    getDeparturesForStops(BART_stops, "BART");
    getDeparturesForStops(ACTransit_stops, "ACTransit");
}

$(document).ready(function() {
    updateFeeds();
    window.setInterval(updateFeeds,30*1000);
});
</script>
{% endblock %}

{% block header %}
        <div class="left">
            <img src="../static/img/BART.png">
			<h1>BART</h1>
			<h2>19th Street Station<h2>
		</div>

		<div class="right">
			<img src="../static/img/bus.png">
			<h1>AC TRANSIT</h1>
			<h2>Bus Stops<h2>
		</div>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="left">
            <h3>Northbound</h3>
            <ul class="routes BART North"></ul>
            <h3>SF and Southbound</h3>
            <ul class="routes BART South"></ul>
        </div>

        <div class="right">
            <h3>Northbound</h3>
        	<ul class="routes Broadway North"></ul>
            <ul class="routes ACTransit North"></ul>

            <h3>Southbound</h3>
        	<ul class="routes Broadway South"></ul>
            <ul class="routes ACTransit South"></ul>
        </div>
{% endblock %}
