@import 'reset.css';
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  background-color: #58585b;
  font-family: 'Roboto';
  margin-left: 50px;
  margin-top: 20px;
  color: white;
}
h1 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 800;
  font-size: 75;
}
h2 {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 600;
  color: #d1d2d4;
  font-size: 36;
  margin: -10px 0px;
}
h3 {
  font-size: 28;
  text-align: center;
  clear: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
ul {
  font-size: 35;
  list-style-type: none;
}
a {
  color: white;
}
header#top {
  display: block;
  width: 1460px;
  margin: 0 -10px;
  *zoom: 1;
  margin-bottom: 20px;
}
header#top:before,
header#top:after {
  content: "";
  display: table;
}
header#top:after {
  clear: both;
}
header#top .left {
  display: inline;
  float: left;
  width: 460px;
  margin: 0 10px;
}
header#top .left img {
  display: inline;
  float: left;
  width: 100px;
  margin: 0 10px;
  margin-left: 0;
}
header#top .right {
  display: inline;
  float: left;
  width: 700px;
  margin: 0 10px;
  margin-left: 130px;
}
header#top .right img {
  display: inline;
  float: left;
  width: 100px;
  margin: 0 10px;
  margin-left: 0;
}
.content {
  display: block;
  width: 1460px;
  margin: 0 -10px;
  *zoom: 1;
}
.content:before,
.content:after {
  content: "";
  display: table;
}
.content:after {
  clear: both;
}
.content .left {
  display: inline;
  float: left;
  width: 460px;
  margin: 0 10px;
}
.content .right {
  display: inline;
  float: left;
  width: 700px;
  margin: 0 10px;
  margin-left: 130px;
}
ul.choose a,
ul.choose a:visited {
  color: white;
}
.stopName {
  text-shadow: 1px 1px black;
}
ul.routes {
  margin-bottom: 20px;
}
ul.routes li {
  margin-bottom: 20px;
  float: left;
}
ul.routes li div {
  padding: 10px;
  text-align: center;
}
ul.routes li div.departures {
  background-color: black;
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}
ul.routes.BART {
  display: block;
  width: 500px;
  margin: 0 -10px;
  *zoom: 1;
  /* yellow */
  /* red */
  /* blue */
  /* green */
  /* orange */
}
ul.routes.BART:before,
ul.routes.BART:after {
  content: "";
  display: table;
}
ul.routes.BART:after {
  clear: both;
}
ul.routes.BART li {
  clear: left;
}
ul.routes.BART li.PittsburgBayPoint .stopName {
  background-color: #F9E233;
}
ul.routes.BART li.SFAirport .stopName {
  background-color: #F9E233;
}
ul.routes.BART li.Richmond .stopName {
  background-color: #EB212E;
}
ul.routes.BART li.Millbrae .stopName {
  background-color: #EB212E;
}
ul.routes.BART li.DublinPleasanton .stopName {
  background-color: #1DB0ED;
}
ul.routes.BART li.Fremont .stopName {
  background-color: #52B74F;
}
ul.routes.BART li.Fremont .stopName {
  background-color: #F7A431;
}
ul.routes.BART .stopName {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
}
ul.routes.BART .departures {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
  margin-left: -10px;
}
ul.routes.ACTransit {
  display: block;
  width: 740px;
  margin: 0 -10px;
  *zoom: 1;
}
ul.routes.ACTransit:before,
ul.routes.ACTransit:after {
  content: "";
  display: table;
}
ul.routes.ACTransit:after {
  clear: both;
}
ul.routes.ACTransit li {
  display: inline;
  float: left;
  width: 340px;
  margin: 0 10px;
}
ul.routes.ACTransit .stopName {
  display: inline;
  float: left;
  width: 100px;
  margin: 0 10px;
  margin: 0;
  background-color: #006e57;
}
ul.routes.Broadway {
  display: block;
  width: 740px;
  margin: 0 -10px;
  *zoom: 1;
}
ul.routes.Broadway:before,
ul.routes.Broadway:after {
  content: "";
  display: table;
}
ul.routes.Broadway:after {
  clear: both;
}
ul.routes.Broadway .stopname {
  display: inline;
  float: left;
  width: 460px;
  margin: 0 10px;
  background-color: #9FBE3C;
}
ul.routes.Broadway .departures {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
  margin-left: -10px;
}
ul.routes.SF-MUNI {
  display: block;
  width: 740px;
  margin: 0 -10px;
  *zoom: 1;
}
ul.routes.SF-MUNI:before,
ul.routes.SF-MUNI:after {
  content: "";
  display: table;
}
ul.routes.SF-MUNI:after {
  clear: both;
}
ul.routes.SF-MUNI li {
  display: inline;
  float: left;
  width: 340px;
  margin: 0 10px;
}
ul.routes.SF-MUNI .stopname {
  display: inline;
  float: left;
  width: 100px;
  margin: 0 10px;
  margin: 0;
  background-color: #C51153;
}
#lastupdated {
  display: inline;
  float: left;
  width: 1420px;
  margin: 0 10px;
  font-size: 21px;
}
#dataProviders {
  display: inline;
  float: left;
  width: 1420px;
  margin: 0 10px;
  margin-top: -10px;
}
#dataProviders img {
  height: 30px;
}
