@import '.reset.css';
@import 'less/grid.less';


//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 160;
@gutter-width: 1;

// Uncomment the definition below for a percentage-based layout
//@total-width: 100%;

//general text


body {
  padding: 20px;
  background-color: #58585b;
  font-family: 'Roboto';
}

h1 {
  font-family: 'Open+Sans', Arial, serif; font-weight: 800;
  color: white;
  font-size: 75;
  margin: 0px 0 0px 0;
}

h2 {
  font-family: 'Roboto', Arial, serif; font-weight: 600;
  color: #d1d2d4;
  font-size: 41;
  margin: -10px 0 0px 0;
}

h3 {
  color: white;
  font-size: 28;
  text-align: center;
  clear: left;
	.push(1);
}

ul {
	font-size: 35;
	list-style-type: none;
}

////////////
// LAYOUT //
////////////

// header
header#top {
  .column(12);

  .bart-image {
    .column(1);
  	margin: 0 -27px 0 106px;
  }
  .bart-text {
    .column(3);
  }
  .ac-image {
    .column(1);
    .push(1);
		margin: 0 -23px 0 225px;
  }
  .ac-text {
    .column(4)
  }
}

// main body
.content {
  .column(12);
}
.left {
  .column(3);
	.push(1);
}
.right {
  .column(6);
  .push(1);
}

//individual trains and buses

ul.routes {
  margin-bottom:20px;

	li {
    float: left;
    margin-bottom: 20px;

    div {
  		padding: 10px;
      text-align: center;

  		&.departures {
        .column(1);
  			color:white;
  			background-color:black;
        margin-bottom: 20px;
  		}
    }
	}

	&.BART {
    .column(3);

		li {
      clear: left;
    }

		.stopName {
      .column(2);
			width: 275px; //custom, break grid
			background-color:#27a9e1;
		}
    .departures {
      .column(1);
    }
	}

	&.ACTransit {
    .column(6);
    .push(1);

		li {
			.column(3);
		}

		.stopName {
			.column(1);
			background-color:#006e57;
		}
	}

	&.Broadway {
    .column(6);
    .push(1);

		.stopname {
      .column(3);
			background-color:#9FBE3C;
		}
    .departures {
      .column(2);
    }
	}
}

#lastupdated {
	.column(12);
	color: white;
	font-size: 21px;
}
