@import '.reset.css';
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body {
  padding: 20px;
  background-color: #58585b;
  font-family: 'Roboto';
}
h1 {
  font-family: 'Open+Sans', Arial, serif;
  font-weight: 800;
  color: white;
  font-size: 75;
  margin: 0px 0 0px 0;
}
h2 {
  font-family: 'Roboto', Arial, serif;
  font-weight: 600;
  color: #d1d2d4;
  font-size: 41;
  margin: -10px 0 0px 0;
}
h3 {
  color: white;
  font-size: 28;
  text-align: center;
  clear: left;
  margin-left: 161.5px;
}
ul {
  font-size: 35;
  list-style-type: none;
}
header#top {
  display: inline;
  float: left;
  width: 1931px;
  margin: 0 0.5px;
}
header#top .bart-image {
  display: inline;
  float: left;
  width: 160px;
  margin: 0 0.5px;
  margin: 0 -27px 0 106px;
}
header#top .bart-text {
  display: inline;
  float: left;
  width: 482px;
  margin: 0 0.5px;
}
header#top .ac-image {
  display: inline;
  float: left;
  width: 160px;
  margin: 0 0.5px;
  margin-left: 161.5px;
  margin: 0 -23px 0 225px;
}
header#top .ac-text {
  display: inline;
  float: left;
  width: 643px;
  margin: 0 0.5px;
}
.content {
  display: inline;
  float: left;
  width: 1931px;
  margin: 0 0.5px;
}
.left {
  display: inline;
  float: left;
  width: 482px;
  margin: 0 0.5px;
  margin-left: 161.5px;
}
.right {
  display: inline;
  float: left;
  width: 965px;
  margin: 0 0.5px;
  margin-left: 161.5px;
}
ul.routes {
  margin-bottom: 20px;
}
ul.routes li {
  float: left;
  margin-bottom: 20px;
}
ul.routes li div {
  padding: 10px;
  text-align: center;
}
ul.routes li div.departures {
  display: inline;
  float: left;
  width: 160px;
  margin: 0 0.5px;
  color: white;
  background-color: black;
  margin-bottom: 20px;
}
ul.routes.BART {
  display: inline;
  float: left;
  width: 482px;
  margin: 0 0.5px;
}
ul.routes.BART li {
  clear: left;
}
ul.routes.BART .stopName {
  display: inline;
  float: left;
  width: 321px;
  margin: 0 0.5px;
  width: 275px;
  background-color: #27a9e1;
}
ul.routes.BART .departures {
  display: inline;
  float: left;
  width: 160px;
  margin: 0 0.5px;
}
ul.routes.ACTransit {
  display: inline;
  float: left;
  width: 965px;
  margin: 0 0.5px;
  margin-left: 161.5px;
}
ul.routes.ACTransit li {
  display: inline;
  float: left;
  width: 482px;
  margin: 0 0.5px;
}
ul.routes.ACTransit .stopName {
  display: inline;
  float: left;
  width: 160px;
  margin: 0 0.5px;
  background-color: #006e57;
}
ul.routes.Broadway {
  display: inline;
  float: left;
  width: 965px;
  margin: 0 0.5px;
  margin-left: 161.5px;
}
ul.routes.Broadway .stopname {
  display: inline;
  float: left;
  width: 482px;
  margin: 0 0.5px;
  background-color: #9FBE3C;
}
ul.routes.Broadway .departures {
  display: inline;
  float: left;
  width: 321px;
  margin: 0 0.5px;
}
#lastupdated {
  display: inline;
  float: left;
  width: 1931px;
  margin: 0 0.5px;
  color: white;
  font-size: 21px;
}
