@import '.reset.css';
@import 'less/grid.less';


//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 160;
@gutter-width: 0;

// Uncomment the definition below for a percentage-based layout
//@total-width: 100%;

//general text


body {
	margin: 0px;
  background-color: #58585b;
  font-family: 'Roboto';
}

h1 {
  font-family: 'Open+Sans', Arial, serif; font-weight: 800;
  color:white;
  font-size:75;
  margin:0px 0 0px 0;

}

h2 {
  font-family: 'Roboto', Arial, serif; font-weight: 600;
  color: #d1d2d4;
  font-size:41;
  margin:-10px 0 0px 0;
}

h3 {
  color:white;
  margin: 40px 0 0px 0;
  font-size: 28;
  text-align: center;
}

ul {
	font-size:42;
}

////////////
// LAYOUT //
////////////

// header
header#top {
  .column(12);
  margin-top: 20px;

  .bart-image {
    .column(1);
  }
  .bart-text {
    .column(3);
  }
  .ac-image {
    .column(1);
    .push(1);
  }
  .ac-text {
    .column(4)
  }
}

// main body
.content {
  .column(12);
}
.left {
  .column(3);
	padding-left:55px;
}
.right {
    .column(4);
    .push(1);
}
.far-right {
		.column(2);
}

//individual trains and buses

ul.routes.BART .stopName {
  .column(1);
  background-color:#27a9e1;
	margin: 0 0 0 -59px;
	text-align: center;
	width: 233px;
	padding: 10px 10px 10px 10px;
}

ul.routes.BART .departures {
  .column(1);
  background-color:black;
	width: 225px;
	text-align: center;
  color:white;

	padding: 10px 10px 10px 10px;
}

ul.routes.ACTransit .stopName {
  .column(1);
  background-color:#006e57;
	text-align: center;
	margin-bottom: 10px;
	margin-left: 65px;
	width: 160;
	padding: 10px 10px 10px 10px;
  color:white;
}

ul.routes.ACTransit .departures {
  .column(1);
  background-color:black;
	text-align: center;
	width: 194px;
	padding: 10px 10px 10px 10px;
  color:white;
}
