@import 'reset.css';
@import 'less/grid.less';


//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
@columns: 12;
@column-width: 100;
@gutter-width: 20;

body {
  background-color: #58585b;
  font-family: 'Roboto';
  margin-left: 50px; //margin-left match half column width
  margin-top:20px; //margin-top match gutter
  color: white;
}

h1 {
  font-family: 'Open Sans', Arial, sans-serif; font-weight: 800;
  font-size: 75;
}

h2 {
  font-family: 'Roboto', Arial, sans-serif; font-weight: 600;
  color: #d1d2d4;
  font-size: 36;
  margin: -10px 0px;
}

h3 {
  font-size: 28;
  text-align: center;
  clear: left;
  margin-top:10px;
  margin-bottom:10px;
}

ul {
	font-size: 35;
	list-style-type: none;
}

a { color: white; }

////////////
// LAYOUT //
////////////

// header
header#top {
  .row(12);

  .left {
    .column(4, 12);
    img { .column(1); margin-left:0; }
  }
  .right {
    .column(6, 12);
    .push(1);
    img { .column(1); margin-left:0; }
  }
  margin-bottom:20px;
}

// main body
.content {
  .row(12);

  .left {
    .column(4, 12);
  }
  .right {
    .column(6, 12);
    .push(1);
  }
}

ul.choose {
  a, a:visited { color: white; }
}

.stopName {
  text-shadow: 1px 1px black; // provide a little extra contrast on solid colors
}

//individual routes
ul.routes {
  margin-bottom:20px;

	li {
    margin-bottom: 20px;
    float: left;
    //background-color:black;

    div {
  		padding: 10px;
      text-align: center;

  		&.departures {
  			background-color:black;
        margin-bottom: 20px;
        padding-left:0;
        padding-right:0;
  		}
    }
	}

	&.BART {
    .row(4);

		li {
      clear: left;
    }

    // yellow
    li.Concord .stopName { background-color: #F9E233; }
    li.PittsburgBayPoint .stopName { background-color: #F9E233; }
    li.SFAirport .stopName { background-color: #F9E233; }

    // red
    li.Richmond .stopName { background-color: #EB212E; }
    li.Millbrae .stopName { background-color: #EB212E; }

    // blue
    li.DublinPleasanton .stopName { background-color: #1DB0ED; }

    // green
    li.Fremont .stopName { background-color: #52B74F; }

    // orange
    li.Fremont .stopName { background-color: #F7A431; }
    //fremont can be either green or orange, override in location template

    // daly city can be any color
    li.DalyCity .stopName {
        background: repeating-linear-gradient( to right,
          #EB212E, #EB212E 60px,
          #F9E233 60px, #F9E233 120px,
          #1DB0ED 120px, #1DB0ED 180px,
          #52B74F 180px, #52B74F
        );
    }

		.stopName {
      .column(2, 4);
      background-color: #188FCA; // bart blue default
		}
    .departures {
      .column(2, 4);
      margin-left: -10px; //pull across gutter
    }
	}

	&.ACTransit {
    .row(6);

		li {
			.column(3, 6);
		}

		.stopName {
			.column(1, 6);
      margin:0;
			background-color:#006e57;
		}
	}

	&.Broadway {
    .row(6);

		.stopname {
      .column(4, 6);
			background-color:#9FBE3C;
		}
    .departures {
      .column(2, 6);
      margin-left: -10px; //pull across gutter
    }
	}

  &.SF-MUNI {
    .row(6);

    li {
      .column(3, 6);
    }

    .stopname {
      .column(1, 6);
      margin: 0;
      background-color:#C51153;
    }
  }

}

#lastupdated {
	.column(12);
	font-size: 21px;
}

#dataProviders {
  .column(12);
  margin-top:-10px;
  img { height: 30px; }
}
